* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

button {
    border: none;
    background: transparent;
}


nav {
    position: relative;
    background-color: #f1f1f1;
    padding: 16px;
}

.nav-closed {
  display: flex;
  align-items: center;
}

header nav a:first-child {
  position: relative;
  text-decoration: none;
  color: #111111;
  font-weight: 600;
}


.hidden {
    display: none;
}

.top-0 {
  top: 0;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 32px;
}

li {
    list-style: none;
}

a {
    font-weight: 400;
    font-style: normal;
}

.social-img {
    max-width: 32px;
}

.menu-btn {
    width: 32px;
    position: absolute;
    right: 6px;
    top: 6px;
}

.news-grid {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.news-card {
    border: 1px solid #3f3f3f;
    padding: 8px;
    border-radius: 8px;
}

.news-image {
    max-width: 100%;
    border-radius: 12px;
}

.news-title {
    padding-top: 16px;
}

.menu-open {
    position: absolute;
    right: 0px;
    top: 0px;
}

.school-link {
    text-decoration: none;
}

a{
    text-decoration: none;
}

/* Styling för artikeldetaljsidan */
.news-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.back-link {
    text-decoration: none;
    color: #111111;
    font-weight: 500;
    font-size: 1.1rem;
}

.back-link:hover {
    text-decoration: underline;
}

.event-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    border: 1px solid #3f3f3f;
    padding: 8px;
    position: relative;
}
.event-date{
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    padding-left: 0px;
    background-color: red;
    padding: 4px;
    width: fit-content;
}

.event-date-two{
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    padding-left: 0px;
    background-color: red;
    border-radius: 4px;
    padding: 4px;
    width: fit-content;
}

.event-heading{
    font-weight: 400;
    font-size: 1rem;
    position: absolute;
    top: 0px;
    left: 150px;
    bottom: 30px;
    top : 20px;
}

.event-day{
    font-weight: 400;
    font-size: 1rem;
    margin-top: 4px;
    position: relative;
    bottom: 10px;
}

.event-status{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    left: -24px;
    top: 4px;
}