* {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    background: transparent;
}

header {
    background-color:rgb(181, 249, 193);
    padding: 16px;
    min-height: calc(100vh - 32px);
}

nav {
    position: relative;
    display: block;
}

.hidden {
    display: none;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

li {
    list-style: none;
}

a {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.social-img {
    max-width: 32px;
}

.menu-close-btn {
    width: 32px;
    position: absolute;
    top: 0;
    right: 0;
}

