*{
    padding: 0;
    margin: 0;
}

header{
    background-color:rgb(181, 249, 193);
    padding: 16px;
}

ul{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

li{
    list-style: none;
}

